body{
    margin: 0;
    padding: 0;
}
h1, h2, p{
    margin-left: 10px;
}
p#text1, #text2, #text3, #text4{
    padding-top: 80px;
}
nav.menu{
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #000;
    top: 0;
    z-index: 1;
}
pre{
    font-family: "바탕체";
}
ul li{
    display: inline-block;
    margin-left: 1em;
}
ul li a{
    text-decoration: none;
    color: #000;
}
ul li:hover{
    text-decoration: underline;
}
ul li a:hover{
    color: blue;
}