*{
    margin: 0;
    padding: 0;
}
div#container{
    width: 1000px;
    margin: 0 auto;
}
header{
    /* 1000px 맞추기 위해 border 2px padding 20px 값만큼 빼줌 */
    width: 978px;
    height: 100px;
    border: 1px solid #333;
    padding: 10px;
}
section{
    width: 620px;
    height: 600px;
    border: 1px solid #333;
    float : left;
}
aside{
    width: 320px;
    height: 600px;
    border: 1px solid #333;
    background: rgb(203, 203, 255);
    float: right;
}
footer{
    width: 998px;
    height: 100px;
    border: 1px solid #333;
    clear: left;
}